<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="emailFrom" value="noreply@acentus365.com"/>
    <add key="emailTo" value="gigocabrera@outlook.com"/>
    <add key="subject" value="Acentus Order Confirmation"/>
    <add key="TestMode" value="True"/>
    <add key="TestEmailTo" value="gigocabrera@outlook.com"/>
    <add key="ForceReportDate" value="False"/>
    <add key="TestDateStart" value="08/01/2022"/>
    <add key="TestDateEnd" value="08/02/2022"/>
    <add key="AppId" value="771c69ef-5baf-49d9-9a5f-e3e24ff9c2da" />
    <add key="AppSecret" value="ih88Q~VCPOHymzOnrcDQ1GLfzi1QFEHxJZ3j8cd3" />
    <add key="TenantId" value="f3124a4c-4412-4a57-90c1-b59ed4bc350f" /> 
  </appSettings>
  <connectionStrings>
    <add name="arxConnection" connectionString="Data Source=AUXILIUM;Initial Catalog=ArxAllyNet;User Id=medadbuser;Password=dbuser123!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>